body {
    background-image: url('./imge/backgraunt.jpg');
}
.conteiner {
    width: 1064px;
    margin: auto;
    overflow: hidden;
}
.logo_img {
    width: 45px;
    height: 45px;
    background-image: url("./imge/logo1.png");
    display: inline-block;
}
.logo_img:hover {
    width: 45px;
    height: 45px;
    background-image: url("./imge/logo2.png");
}
.logo {
    overflow: inherit;
}
.logo img {
    width: 45px;

}
.wrapper {
    display: inline-block;
    padding-left: 5px;
}
.logo_link {
    float: left;
    text-decoration: none;
    color: #fff;
}
.wrapper span:first-child {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}
.wrapper span:last-child {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.contact {
    color: #ffff;
    float: right;
}
.contact a {
    text-decoration: none;
    color: #fff;
}
.clear {
    clear: both;
}
.logo img {
    float: left;
}
.blok_logo {
    margin-top: 50px;
}
.conteiner1 img {
    width: 310px;
    margin-top: 45px;
}
.foto1 {
    position: relative;
    display: inline-block;
}
.hover {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f26522;
    padding: 10px 5px 10px 15px;
    box-sizing: border-box;
}
.hover div {
    color: #fff;
}
.foto1:hover .hover {
    display: block;
}
.rsaquo::after {
    content: "\203A";
}
.title {
    text-align: center;
    color: #fff;
    padding-top: 15px;
}
.blok_foto:hover .title {
    color: #f26522;
}
.blok_foto {
    display: inline-block;
}
.rsaquo {
    display: inline-block;
    width: 80%;
    text-align: right;
}
.price_from {
    display: inline-block;
}
.conteiner1 {
    float: left;
    margin-left: 67px;
}
.conteiner1 a {
    text-decoration: none;
}
.footer::before {
    content: '\00A9';
}
.footer {
    color: #fff;
    text-align: center;
    padding: 50px 0 45px 0;
}
.conteiner1:nth-child(2) {
    margin-left: 0;
}
.conteiner1:nth-child(5) {
    margin-left: 0;
}
.wrapper:hover {
    color: #f26522;
}